<div class="div4 ms-5">
  <div class="col">
    <h2 class="text-white">Goals</h2>
    <div class="boxes p-2 text-light">
      <div class="d-flex flex-column rounded">
        <% @user.goals.each do |goal| %>
        <details>
          <summary><%= goal.title %> </summary>
          <p> <%= goal.description %> </p>
        <% end %>
        </details>
      </div>
    </div>
  </div>
</div>
