<div class="boxes div1 p-2 text-light mt-4 ms-5 d-flex flex-column justify-content-center">
  <h4>Hello <%= current_user.name %>,</h4>
  <%# <p>All of your team members are here today!</p> %>
  <p><%= @greeting_message %></p>
</div>
