<div class="team-overview p-4">
  <div class= "d-flex justify-content-between align-items-center">
    <h5> Team Overview</h5>
    <button type="button" class="btn btn-primary">Add Tasks</button>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="col-4"></th>
          <th scope="col" class="col-2">
            <p>Total overtime</p>
            <p> this time</p>
          </th>
          <th scope="col" class="col-2">
            <p>Ongoing</p>
            <p>tasks</p>
          </th>
          <th scope="col" class="col-2">
            <p>Completed</p>
            <p>tasks</p>
          </th>
          <th scope="col" class="col-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <p>Joe</p>
            <p>Lead dev</p>
          </th>
          <td>2hrs</td>
          <td>2 tasks</td>
          <td>10 tasks</td>
          <td>
            <button type="button" class="btn btn-secondary">View Profile</button>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <p>Josh</p>
            <p>Backend dev</p>
          </th>
          <td>2hrs</td>
          <td>2 tasks</td>
          <td>10 tasks</td>
          <td>
            <button type="button" class="btn btn-secondary">View Profile</button>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <p>Luye</p>
            <p>Frontend dev</p>
          </th>
          <td>2hrs</td>
          <td>2 tasks</td>
          <td>10 tasks</td>
          <td>
            <button type="button" class="btn btn-secondary">View Profile</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
