<div class="div5 team-overview p-4 bg-white m-5">
  <div class= "d-flex justify-content-between align-items-center">
    <h5> Team Overview</h5>
    <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Add Task</button>
      <%= render 'users/addtaskform' %>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="col-4"></th>
          <th scope="col" class="col-2">
            <span>Total overtime</span><br>
            <span> this time</span>
          </th>
          <th scope="col" class="col-2">
            <span>Ongoing</span><br>
            <span>tasks</span>
          </th>
          <th scope="col" class="col-2">
            <span>Completed</span><br>
            <span>tasks</span>
          </th>
          <th scope="col" class="col-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="d-flex">
              <div>
                <%# image %>
              </div>
              <div>
                <span>Joe</span><br>
                <span>Lead dev</span>
              </div>
            </div>
          </th>
          <td>2hrs</td>
          <td>2 tasks</td>
          <td>10 tasks</td>
          <td class="pe-0">
            <div class="d-flex justify-content-end align-items-center">
              <button type="button" class="btn btn-secondary my-auto">View Profile</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="d-flex">
              <div>
                <%# image %>
              </div>
              <div>
                <span>Josh</span><br>
                <span>Backend dev</span>
              </div>
            </div>
          </th>
          <td>2hrs</td>
          <td>2 tasks</td>
          <td>10 tasks</td>
          <td class="pe-0">
            <div class="d-flex justify-content-end align-items-center">
              <button type="button" class="btn btn-secondary my-auto">View Profile</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="d-flex">
              <div>
                <%# image %>
              </div>
              <div>
                <span>Luye</span><br>
                <span>Frontend dev</span>
              </th>
              <td>2hrs</td>
              <td>2 tasks</td>
              <td>10 tasks</td>
              <td class="pe-0">
                <div class="d-flex justify-content-end align-items-center">
                  <button type="button" class="btn btn-secondary my-auto">View Profile</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
