.parent2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, auto 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  .div1 { grid-area: 1 / 1 / 2 / 8; }
  .div2 { grid-area: 2 / 1 / 5 / 4; }
  .div3 { grid-area: 2 / 4 / 5 / 8; }
  .div4 { grid-area: 5 / 1 / 9 / 3; }
  .div5 { grid-area: 5 / 3 / 9 / 8; }
}
