<div class="container border border-dark">
  <div class="row">
    <div class="col">
       <h4>Date</h4>
      <ul>
        <% @tasks.each do |d| %>
        <li><%= timesheets.date %></li>
        <% end %>
      </ul>
    </div>
    <div class="col">
    Clock in
    </div>
    <div class="col">
    Clock out
    </div>
  </div>
</div>
