<div class="container text-center border border-dark">
  <div class="row align-items-start">
    <div class="col">
    Date
    </div>
    <div>
    Clock in
    </div>
    <div>
    Clock out
    </div>
  </div>
</div>
