<div class="div1 mb-3">
  <div class="text-center fs-4 border border-opacity-50 clock">
   <div id="time" data-controller="timer" data-time="<%= @timesheet.time_in.to_time %>">
    <span class="digit" data-timer-target="hour"></span>
    <span class="txt">:</span>
    <span class="digit" data-timer-target="min"></span>
    <span class="txt"></span>
   </div>
  </div>
 <%= simple_form_for @timesheet ,data: {action: "submit->insert-in-list#update"} do |f| %>
  <%= f.input :status, as: :hidden, input_html: {value: 'Clocked out'} %>
  <%= button_tag "Clock out", class: "btn  btn-lg btn-outline-success clock-out", id: "clock-out" %>
 <% end %>
</div>
