<div class="row">
  <% if current_user.is_manager? %>
    <%= render 'shared/sidebar_manager' %>
  <% else %>
    <%= render 'shared/sidebar_employee' %>
  <% end %>
  <div class="col-6 mt-3">
    <%= render 'timesheets/daily_time' %>
  </div>
</div>
