.avatar {
  width: 37%;
  border-radius: 50%;
}
.avatar-large {
  width: 72px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: #DEE2E6 1px solid;
}
.avatar-bordered {
  width: 56px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: rgb(183, 183, 183) 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.offline{
  margin-left: -6px;
  margin-top: 8px;
  border: #3F456B 3px solid;
  background-color: #707070;
}
.rounded-circle {
  margin-left: -6px;
  margin-top: 8px;
  border: #3F456B 4px solid;
}
.avatar-online {
  width: 56px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
