.simple-calendar {
  background-color: #3F456B;
  border-radius: 10px;
  color: #dee2e6;

  .table-striped {
    color: #dee2e6;

    .day {
      color: #dee2e6;
    }

    .prev-month {
      color: grey;
    }

    .next-month {
      color: grey;
    }
  }

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.calendar-button {
  padding:4px;
  color: $light-gray;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
}

.calendar-title {
  font-size: 24px;
  margin-top: 3px;
}
