.sidebar {
  height: 100vh;
  background-color: #3F456B;
  position:relative;
}

.logout {
  position:absolute;
  bottom: 0;
}

.menu-items {
  padding: 12px 3px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #4B4F6C;
    border-radius: 25px;
  }
}
