.team-overview {
  background-color: $light-blue;
  border-radius: 10px;
}

.table-body {
}

.my-custom-scrollbar {
  position: relative;
  height: 350px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}
