<div class="row">
    <%= render 'shared/sidebar_employee' %>

  <div class="col p-3 text-light">
    <% if current_user.is_manager? %>
      <%= render 'goals/managerview' %>
  <% else %>
        <%= render 'goals/employeeview' %>
  <% end %>

  </div>
</div>
